{% include "edt/table_header.html" %}
<tr>
    <td class="horraire">
        7-9H
    </td>
    <td rowspan="2">
        <p class="subject" >Intégration et développement web</p>
        <p class="proffessor">Dr RAMASONDRANO</p>
        <p class="classroom">Grand Sall</p>
        <p>(7h - 9H)</p>
    </td>
    <td rowspan="2">
        <p class="subject">Travail Collaboratif</p>
        <p class="proffessor">Mr Fenitra</p>
        <p class="classroom">Grand Sall</p>
        <p>(7H - 9H)</p>
    </td>
    <td rowspan="2">
        <p class="subject">Algorithme et structure des données</p>
        <p class="proffessor">Mr Fenitra</p>
        <p class="classroom">Grand Sall</p>
        <p>(7H - 9H)</p>
    </td>
    <td rowspan="2">
        <p class="subject">Linux</p>
        <p class="proffessor">Mr Fenitra</p>
        <p class="classroom">Grand Sall</p>
        <p>(7H - 9H)</p>
    </td>
    <td rowspan="2">
        <p class="subject">Tutorée Intégration</p>
        <p class="proffessor">Mr Fenitra</p>
        <p class="classroom">Grand Sall</p>
        <p>(7H - 9H)</p>
    </td>
    <td rowspan="2">

    </td>
</tr>
<tr>
    <td  class="horraire">
        8-9H
    </td>
</tr>
<tr>
    <td class="horraire">
        9-10H
    </td>
    <td rowspan="3">
        <p class="subject">Logique Cobinatoire et Algebre de Bool</p>
        <p class="proffessor">Mr Tolotra</p>
        <p class="classroom">Grand Sall</p>
        <p>(10H -12H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">Tutorée Github</p>
        <p class="proffessor">Mr Tolotra</p>
        <p class="classroom">Grand Sall</p>
        <p>(10H -12H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">Intégration et Développement web</p>
        <p class="proffessor">Dr RAMASONDRANO</p>
        <p class="classroom">Grand Sall</p>
        <p>(10H - 12H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">Anglais</p>
        <p class="proffessor">Mme Erica</p>
        <p class="classroom">Grand Sall</p>
        <p>(10H - 12H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">Algèbre</p>
        <p class="proffessor">Mme Masoandro</p>
        <p class="classroom"></p>
        <p>(10H - 12H)</p>
    </td>
    <td rowspan="3">

    </td>
</tr>
<tr>
    <td class="horraire">
        10-11H
    </td>
</tr>
<tr>
    <td class="horraire">
        11-12H
    </td>
    <tr>
    </tr>
</tr>
<tr>
    <td class="horraire">
        12-13H
    </td>
    <td colspan="6" class="pause">
        <p class="Pause">Pause</p>
    </td>
</tr>
<tr>
    <td class="horraire">
        13-14H
    </td>
    <td rowspan="3">
        <p class="subject">Algorithme et structure des données</p>
        <p class="proffessor">Mr Antoine</p>
        <p class="classroom">Grande Salle</p>
        <p>(13H - 15H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">Analyse</p>
        <p class="proffessor">Mr Sedra</p>
        <p class="classroom">Grande Salle INSI 2</p>
        <p>(13H - 15H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">Algèbre</p>
        <p class="proffessor">Mme Masoandro</p>
        <p class="classroom"></p>
        <p>(13H - 15H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">Tutorées Web</p>
        <p class="proffessor">Mme Masoandro</p>
        <p class="classroom"></p>
        <p>(13H - 15H)</p>
    </td>
    <td rowspan="3">
        <p class="subject">DSA INSI</p>
        <p class="proffessor"></p>
        <p class="classroom">Grande Salle</p>
        <p>(13H - 15H)</p>
    </td>
    <td rowspan="3">

    </td>
</tr>
<tr>
    <td class="horraire">
        14-15H
    </td>
</tr>
<tr>
    <td class="horraire">
        15-16H
    </td>
</tr>